<nav class="navbar navbar-expand-lg bg-dark">
  <navbar></navbar>
</nav>
<div class="container my-4 bg-teal bg-opacity-50 rounded-4">
  <formulario></formulario>

  <modal></modal>
</div>
<div class="card" style="width: 18rem">
  <img
    src="https://noticiasdatv.uol.com.br/media/_versions/artigos_2021/friends-tv-por-assinatura-brasileira-warner-channel-divulgacao-grande_fixed_large.jpg"
    class="card-img-top"
    alt="..."
  />
  <div class="card-body">
    <h2 class="card-title">Friends</h2>
    <p class="card-text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem ad
      pariatur vel veniam excepturi architecto non quasi qui laboriosam. Quae
      consequuntur tempore hic doloribus alias fuga esse et cumque accusantium?
    </p>
  </div>
</div>
